.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  min-height: 150px;
  margin-bottom: 30px;
  width: 100%;
}

.data{
  display: flex;
  width: 100%;
  height: 100%;
}

.img{
  width: 150px;
  height: 150px;
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/*---------- SPINNER ------*/
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ffe300;
  animation: spinner 0.7s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}